<div class="destinations">
    <% destinations.forEach(function(destination) { %>

        <div class="destination">
            <img alt="destination image" src="<%- destination.image || 'https://i1.wp.com/saedx.com/blog/wp-content/uploads/2019/01/saedx-blog-featured-70.jpg?fit=1200%2C500&ssl=1'%>">
            <div class="destination-content">
                <h4><%= destination.country.replace(/\w/, c => c.toUpperCase())%> | <%= destination.capital.replace(/\w/, c => c.toUpperCase()) %></h4>
                <h5><%= destination.type.replace(/\w/, c => c.toUpperCase()) %> | <%= destination.days %> days</h5><br>
            </div>
            <div class="likeButtons">
                <form method="post" action="/update">
                    <input type="submit" id="like" value="sdfsd">
                </form>
            </div>
        </div>
    <% });%>
</div>